HEAD
 div > p {
    font-size: 22px
}
h1 {
   color:blueviolet
}
h3 {
     color:rgba(44, 8, 173, 0.911)
}
 h2 {
    color:rgba(48, 8, 85, 0.911)
}
small {
   color:rgba(179, 3, 41, 0.911)
}
#about {
    text-align: center
}
img {
    vertical-align: middle; 
}
footer {
    background-color: darksalmon;
}
img {
    text-align: center;  
  }